
# Hetzner Cloud API token used to create infrastructure
hcloud_token = ""

# Hetzner location used for all resources
hcloud_location = "hil"

# Type of instance to be used for all instances
instance_type = "cpx21"

# Network to create for private communication
network_cidr = "10.0.0.0/8"

# Subnet to create for private communication. Must be part of the CIDR defined in `network_cidr`.
network_ip_range = "10.0.1.0/24"

# Zone to create the network in
network_zone = "us-west"

# Prefix added to names of all resources
prefix = "quickstart"